.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Distributed .zip files
distributed_files

# Resource folders of each folders
html/resource/
css/resource/
git/resource/
js/resource/
react/resource/
node/resource/
express/resource/
typescript/resource/

!html/resource/images

!css/resource/fonts
!css/resource/images

!js/resource/images

# node_modules of 'study' in react folder
react/workspace/study/node_modules
# node_modules of 'todo' in react folder
react/workspace/todo/node_modules
# node_modules of node folder
node/workspace/node_modules
# node_modules of express folder
express/workspace/node_modules
# node_modules of typescript folder
typescript/workspace/node_modules



